/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
}
a{
    text-decoration: none;
}
/* Wrapper */
#wrapper{
    width:1024px;
    margin:0 auto;
}
/* Header */
#header{
    padding:20px 20px 0 20px;
    background-color:#6ecff5;
    font-family: arial;
    position: relative;
    height: 200px;
}
#header #logo{
    overflow: hidden;
    width:800px;
    float: left;
    margin-bottom:40px;
}
#header #logo #symbol{
    float:left;
    overflow: hidden;
    width:200px;
}
#header #logo #symbol img{
    width:100%;
}
#header #logo #title{
    float:right;
    text-transform: uppercase;
    text-align: center;
    width:530px;
    margin-top:50px;
    font-weight: bold;
}
#header #logo #title h1{
    font-size:23px;
    color: #fff;
    margin-bottom:10px;
}
#header #logo #title p{
    color: #fff;
}
#header #button{
    position: absolute;
    margin-top:0px;
    right: 20px;
}
#header #button a{
    color:#000;
    border:#000;
    border-radius: 3px;
    padding:5px 10px;
    background: #e4e4e4;
}
#header #button a:first-child{
    margin-right:10px;
}
#header #menu{
    clear: both;
    margin-left: 50px;
    position: absolute;
    bottom:0px;
    z-index:999;
}
#header #menu ul li{
    float:left;
    position:relative;
}
#header #menu ul li a:hover{
    background: #8880c1;
}
#header #menu ul li:hover ul{
    display:block;
}
#header #menu ul li a{
    padding:10px 30px;
    color: #fff;
    background: #58518b;
}
#header #menu ul li:first-child a{
    border-radius: 5px 0 0 5px;
    padding-left:50px;
}
#header #menu ul li:last-child a{
    border-radius: 0 5px 5px 0;
}
#header #menu ul li ul{
    display:none;
    position: absolute;
    left:0px;
    top:26px;
    width: 276px;
    overflow:hidden;
}
#header #menu ul li ul li{
    border-radius: 3px !important;
    height: 38px;
    text-align: left;
    width: 100%;
}
#header #menu ul li ul li a{
    position: relative;
    top: 10px;
    padding-left: 30px !important;
    border-radius:0px !important;
}
/* Main */
#main{
    overflow: auto;
    padding: 20px;
    padding-top: 36px;
    background: #e4e4e4;
    position:relative;
}
#main #left{
    float:left;
    width: 50%;
    line-height: 30px;
}
#main #left h3{
    font-size:30px;
    font-weight: bold;
}
#main #left p{

}
#main #right{
    float: right;
    width:49%;
}
#main #right img{
    width: 100%;
}
#main #login{
    width:300px;
    margin-left:100px;
}
#main #login tr td{
    padding:10px;
}
#main #top{
    margin-bottom:20px;
}
#main #top .left{
    float:left;
}
#top .left select{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: #1px solid #000;
}
#top .left p input:first-child{
    height:25px;
    width:300px;
    padding-left:10px;
}
#top .left p input:last-child{
    height: 30px;
    width:100px;
}
#top .left p{
    margin-bottom:20px;
}
#main #top .right{
    float: right;
}
#main #top .right a{
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    background: #6ecff5;
}
#main #bottom{
    clear: both;
}
#main #bottom table{
    width:100%;
}
#main #bottom table tr,#main #bottom table tr td,#main #bottom table tr th{
    border: 1px solid #868383;
    padding:10px;
    text-align: center;
    vertical-align: top;
}
#themkhachhang{
    margin-left:50px;
}
#themkhachhang td{
    padding: 10px;
    vertical-align: top;
}
#themkhachhang td input,#themkhachhang td select{
    height: 20px;
    width:300px;
}
#themkhachhang td select{
    height: 27px;
}
#themkhachhang td input[type=submit]{
    width:100px;
    height:30px;
    background:#6ecff5;
    border-radius: 3px;
    border: none;
    color:#fff;
}
#themkhachhang td a{
    background: #d0cbcb;
    color: #000;
    border-radius: 3px;
    padding:5px 10px;
    border: 1px solid #a79f9f;
    position:relative;
    top: 2px;
    margin-left: 10px;
    font-family:monospace;
}
/* Footer */
#footer{
    clear: both;
}
#footer p{
    text-align: center;
    background:#6ecff5;
    padding:10px 0;
}































